@charset "UTF-8";

.treeList ,
.treeListSimple{
}
/* stem */
.treeList .treeList-stem ,
.treeListSimple ul{
	list-style: none;
	padding-left:1em;
}

.treeList > .treeList-stem ,
.treeListSimple > ul{
	padding-left:0em;
}
/* branch */
.treeList-branch ,
.treeListSimple li{
	list-style: none;
	list-style-position: outside;
	position: relative;
}
/* leaf */
.treeList-leaf ,
.treeListSimple li > div {
	padding: 0;
	margin:0.2em 0.5em;
	min-height: 2em;
}
/* hidden stem */
.treeList-hidden-stem > .treeList-stem ,
.treeListSimple .treeList-hidden-stem > ul{
	position: relative;
}
.treeList-hidden-stem > .treeList-stem > .treeList-branch ,
.treeListSimple .treeList-hidden-stem > ul > li{
	display: none;
}
.treeList-hidden-stem > .treeList-stem::after ,
.treeListSimple .treeList-hidden-stem > ul::after{
	display: block;
	content: " . . . folded . . .";
	border:2px solid #999;
	margin:0.2em 0.5em;
	min-height: 2em;
}
.treeList-hidden-stem > .treeList-stem.treeList-show-stem::after ,
.treeListSimple .treeList-hidden-stem > ul.treeList-show-stem::after{
	content: " . . . folded . . .";
	cursor: pointer;
	text-decoration: underline;
}


.treeList-branch > .treeList-stem,
.treeListSimple div + ul{
	opacity:1;
}
.treeList-hidden-stem .treeList-stem,
.treeListSimple .treeList-hidden-stem > ul {
	opacity:0.3;
}

.treeList.treeList-hide-animation .treeList-branch > .treeList-stem,
.treeListSimple.treeList-hide-animation div + ul{
	transition: opacity 0.5s ease-out;
}



/* line */
.treeList-branch::after ,
.treeListSimple li::after,
.treeList-branch::before ,
.treeListSimple li::before ,
.treeList-hidden-stem > .treeList-stem::before ,
.treeListSimple .treeList-hidden-stem > ul::before{
	display: block;
	content: "";
	padding: 0;
	margin: 0;
	width:0.5em;
	overflow: hidden;
	border:2px solid #999;
	position: absolute;
	top:0em;
	left:0em;
	background-color: transparent !important;
}

.treeList-branch::after ,
.treeListSimple li::after{

	height:auto;
	border-top-width:0 !important;
	border-right-width:0 !important;
	border-bottom-width:0 !important;
	top:-0.2em;
	bottom:0em;

}
.treeList-branch::before ,
.treeListSimple li::before ,
.treeList-hidden-stem > .treeList-stem::before ,
.treeListSimple .treeList-hidden-stem > ul::before{
	margin-top:0.2em;
	height: 1em;
	border-top-width:0 !important;
	border-right-width:0 !important;
}
.treeList-hidden-stem > .treeList-stem::before ,
.treeListSimple .treeList-hidden-stem > ul::before{
	left:1em;
	height: 1.2em;
	margin-top: -0.2em;
}

/* line first,last */
.treeList-branch:not(:last-child)::before ,
.treeListSimple ul > li:not(:last-child)::before{
	border-left-width:0 !important;
}
.treeList-branch:last-child::before ,
.treeListSimple ul > li:last-child::before{
	margin-top: -0.2em;
	height:1.4em;
}
.treeList-branch:last-child::after ,
.treeListSimple ul > li:last-child::after{
	display: none;
}


/* .treeList-leaf 플렉스 구조 */

.treeList-leaf-flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: baseline;
}
.treeList-leaf-flex > *{
	margin:0.1em;
}
.treeList-leaf-flex-text{
	flex:1 1 auto;
}
.treeList-leaf-flex-text.ellipsis{
	white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

/* 기본 선 설정 */
.treeList .treeList-leaf ,
.treeListSimple li > div,
.treeList .treeList-branch::after ,
.treeListSimple li::after,
.treeList .treeList-branch::before ,
.treeListSimple li::before ,
.treeList .treeList-hidden-stem > .treeList-stem::before ,
.treeListSimple .treeList-hidden-stem > ul::before ,
.treeList .treeList-hidden-stem > .treeList-stem::after ,
.treeListSimple .treeList-hidden-stem > ul::after{
	border-color:#999;
	border-style:solid;
	border-width:2px;
}


/* theme-0 */
/* box */
.treeList.treeList-theme-0 .treeList-leaf,
.treeListSimple.treeList-theme-0 li > div,
.treeList.treeList-theme-0 .treeList-hidden-stem .treeList-stem::after ,
.treeListSimple.treeList-theme-0 .treeList-hidden-stem ul::after {
	border:2px solid #999;
	border-radius: 0.3em;
	padding: 2px;
}

/* hover */
.treeList.treeList-hover.treeList-theme-0 .treeList-leaf:hover,
.treeListSimple.treeList-hover.treeList-theme-0 li > div:hover,
.treeList.treeList-hover.treeList-theme-0 .treeList-hidden-stem .treeList-stem:hover::after ,
.treeListSimple.treeList-hover.treeList-theme-0 .treeList-hidden-stem ul:hover::after
{
	border-color: #e99;
	background-color: #fee;
}


/* hover-with-child */
.treeList.treeList-hover-with-child.treeList-theme-0 .treeList-leaf:hover,
.treeList.treeList-hover-with-child.treeList-theme-0 .treeList-leaf:hover + .treeList-stem .treeList-branch::before ,
.treeList.treeList-hover-with-child.treeList-theme-0 .treeList-leaf:hover + .treeList-stem .treeList-branch::after ,
.treeList.treeList-hover-with-child.treeList-theme-0 .treeList-leaf:hover + .treeList-stem .treeList-leaf ,
.treeListSimple.treeList-hover-with-child.treeList-theme-0 li > div:hover,
.treeListSimple.treeList-hover-with-child.treeList-theme-0 li > div:hover + ul li::before ,
.treeListSimple.treeList-hover-with-child.treeList-theme-0 li > div:hover + ul li::after,
.treeListSimple.treeList-hover-with-child.treeList-theme-0 li > div:hover + ul li > div,
.treeList.treeList-hover-with-child.treeList-theme-0 .treeList-leaf:hover + .treeList-stem .treeList-hidden-stem .treeList-stem::before ,
.treeList.treeList-hover-with-child.treeList-theme-0 .treeList-leaf:hover + .treeList-stem .treeList-hidden-stem .treeList-stem::after ,
.treeList.treeList-hover-with-child.treeList-theme-0 .treeList-hidden-stem > .treeList-leaf:hover + .treeList-stem::before ,
.treeList.treeList-hover-with-child.treeList-theme-0 .treeList-hidden-stem > .treeList-leaf:hover + .treeList-stem::after ,
.treeListSimple.treeList-hover-with-child.treeList-theme-0 div:hover + ul .treeList-hidden-stem ul::before ,
.treeListSimple.treeList-hover-with-child.treeList-theme-0 div:hover + ul .treeList-hidden-stem ul::after,
.treeListSimple.treeList-hover-with-child.treeList-theme-0 .treeList-hidden-stem > div:hover + ul::before ,
.treeListSimple.treeList-hover-with-child.treeList-theme-0 .treeList-hidden-stem > div:hover + ul::after{
	border-color: #e99;
	background-color: #fee;
}
